@tailwind base;
@tailwind components;
@tailwind utilities;



/* Tutorial on https://fossheim.io/writing/posts/css-text-gradient. */
.op{
  background-color: rgba(0,0,0,0.5);
}
/* *{
  border: 1px solid red ;
} */

.op > *{
  z-index: 1000000;
}

.gradient-text {
    /* Fallback: Set a background color. */
    background-color: #CA4246;
    
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #a594f9, #6f00ff);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    
    /* Animate the text when loading the element. */
      /* This animates it on page load and when hovering out. */
      animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
  
  }
  

  

    /* *{
    border: 1px solid red;
  }    */